<!--The content below is only a placeholder and can be replaced.-->
<div style="margin-bottom:25px">
  <h1 style="text-align:center">
    Current slide: {{slideshow.slideIndex}}
  </h1>
  <div style="display:block;"
       [style.width]="width">
    <slideshow #slideshow
               (onClick)="testEvent($event)"
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides"
               [fullscreen]="fullscreen"
               [enableZoom]="enableZoom"
               [enablePan]="enablePan"
               [noLoop]="noLoop">
    </slideshow>
  </div>
</div>

<table id="config">
  <tr>
    <td>
      <label for="height">height</label>
    </td>
    <td>
      <input id="height"
             name="height"
             [(ngModel)]="height">
    </td>
    <td>
      <label for="minHeight">minHeight</label>
    </td>
    <td>
      <input id="minHeight"
             name="minHeight"
             [(ngModel)]="minHeight">
    </td>
  </tr>
  <tr>
    <td>
      <label for="arrowSize">arrowSize</label>
    </td>
    <td>
      <input id="arrowSize"
             name="arrowSize"
             [(ngModel)]="arrowSize">
    </td>
    <td>
      <label for="showArrows">showArrows</label>
    </td>
    <td>
      <input id="showArrows"
             type="checkbox"
             name="showArrows"
             [(ngModel)]="showArrows">
    </td>
  </tr>
  <tr>
    <td>
      <label for="disableSwiping">disableSwiping</label>
    </td>
    <td>
      <input id="disableSwiping"
             type="checkbox"
             name="disableSwiping"
             [(ngModel)]="disableSwiping">
    </td>
    <td>
      <label for="autoPlay">autoPlay</label>
    </td>
    <td>
      <input id="autoPlay"
             type="checkbox"
             name="autoPlay"
             [(ngModel)]="autoPlay">
    </td>
  </tr>
  <tr>
    <td>
      <label for="autoPlayInterval">autoPlayInterval</label>
    </td>
    <td>
      <input id="autoPlayInterval"
             type="number"
             name="autoPlayInterval"
             [(ngModel)]="autoPlayInterval">
    </td>
    <td>
      <label for="stopAutoPlayOnSlide">stopAutoPlayOnSlide</label>
    </td>
    <td>
      <input id="stopAutoPlayOnSlide"
             type="checkbox"
             name="stopAutoPlayOnSlide"
             [(ngModel)]="stopAutoPlayOnSlide">
    </td>
  </tr>
  <tr>
    <td>
      <label for="debug">debug</label>
    </td>
    <td>
      <strong>debug has been deprecated, will be completely removed in 1.3.0</strong>
    </td>
    <td>
      <label for="backgroundSize">backgroundSize</label>
    </td>
    <td>
      <input id="backgroundSize"
             name="backgroundSize"
             [(ngModel)]="backgroundSize">
    </td>
  </tr>
  <tr>
    <td>
      <label for="backgroundPosition">backgroundPosition</label>
    </td>
    <td>
      <input id="backgroundPosition"
             name="backgroundPosition"
             [(ngModel)]="backgroundPosition">
    </td>
    <td>
      <label for="backgroundRepeat">backgroundRepeat</label>
    </td>
    <td>
      <input id="backgroundRepeat"
             name="backgroundRepeat"
             [(ngModel)]="backgroundRepeat">
    </td>
  </tr>
  <tr>
    <td>
      <label for="showDots">showDots</label>
    </td>
    <td>
      <input id="showDots"
             type="checkbox"
             name="showDots"
             [(ngModel)]="showDots">
    </td>
    <td>
      <label for="dotColor">dotColor</label>
    </td>
    <td>
      <input id="dotColor"
             name="dotColor"
             [(ngModel)]="dotColor">
    </td>
  </tr>
  <tr>
    <td>
      <label for="captionColor">captionColor</label>
    </td>
    <td>
      <input id="captionColor"
             name="captionColor"
             [(ngModel)]="captionColor">
    </td>
    <td>
      <label for="captionBackground">captionBackground</label>
    </td>
    <td>
      <input id="captionBackground"
             name="captionBackground"
             [(ngModel)]="captionBackground">
    </td>
  </tr>
  <tr>
    <td>
      <label for="showCaptions">showCaptions</label>
    </td>
    <td>
      <input id="showCaptions"
             type="checkbox"
             name="showCaptions"
             [(ngModel)]="showCaptions">
    </td>
    <td>
      <label for="noLoop">noLoop</label>
    </td>
    <td>
      <input id="noLoop"
             type="checkbox"
             name="noLoop"
             [(ngModel)]="noLoop">
    </td>
  </tr>
  <tr>
    <td>
      <label for="width">width*</label>
    </td>
    <td>
      <input id="width"
             name="width"
             [(ngModel)]="width">
    </td>
    <td>
      <label for="fullscreen">fullscreen</label>
    </td>
    <td>
      <input id="fullscreen"
             type="checkbox"
             name="fullscreen"
             [(ngModel)]="fullscreen">
    </td>
  </tr>
  <tr>
    <td>
      <label for="enableZoom">enableZoom</label>
    </td>
    <td>
      <input id="enableZoom"
             type="checkbox"
             name="enableZoom"
             [(ngModel)]="enableZoom">
    </td>
    <td>
      <label for="enablePan">enablePan</label>
    </td>
    <td>
      <input id="enablePan"
             type="checkbox"
             name="enablePan"
             [(ngModel)]="enablePan">
    </td>
  </tr>
</table>
<p style="text-align:center">
  *This is not an option on the slideshow, it automatically adjusts to the width of its container.
</p>
